@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", sans-serif;
  color: #fff;
}

.app {
  height: 100vh;
  height: 100svh;
  padding-top: 100px;
  background-color: #000;
}

.home {
  box-shadow: 0px 13px 81px 30px #6f737f;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 30px 0px 30px;
  background: url("../../assets/trash_bg.jpg") center no-repeat;
}
.home__title {
  margin-bottom: 50px;
}
.home__balance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.home__balance p {
  font-size: 42px;
  font-weight: 500;
}
.home__balance img {
  max-width: 35px;
}
.home__coin {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.05s all ease-in;
}
.home__coin img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}
.home__coin.clicked {
  scale: 1.05;
}
.home__nav {
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background-color: rgba(111, 115, 127, 0.6);
  padding: 0px 20px;
  position: relative;
}
.home__nav a {
  position: relative;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__nav a:hover img {
  scale: 1.1;
}
.home__nav a img {
  transition: 0.15s all ease-in;
}
.home__nav p {
  font-size: 14px;
}
.home__footer {
  margin-top: 70px;
}
.home__footer p {
  text-align: center;
  font-size: 10px;
}
.home__footer a {
  color: blue;
  text-decoration: none;
}

.boosts {
  box-shadow: 0px 13px 81px 30px #6f737f;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 30px 70px 30px;
  background-color: #dbdbdb;
  height: 638px;
  overflow-y: scroll;
}
.boosts__nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}
.boosts__nav a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: #6f737f;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.boosts__nav a:hover {
  background-color: #575a64;
}
.boosts__list {
  background-color: #898d98;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.earn {
  box-shadow: 0px 13px 81px 30px #6f737f;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 30px 70px 30px;
  background-color: #dbdbdb;
  height: 638px;
  overflow-y: scroll;
}
.earn__nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}
.earn__nav a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: #6f737f;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.earn__nav a:hover {
  background-color: #575a64;
}
.earn__list {
  background-color: #898d98;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.secret {
  box-shadow: 0px 13px 81px 30px #6f737f;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 30px 70px 30px;
  background-color: #dbdbdb;
  height: 638px;
}
.secret__nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}
.secret__nav a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: #6f737f;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.secret__nav a:hover {
  background-color: #575a64;
}
.secret__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.secret__main input {
  color: #000;
  font-size: 22px;
  outline: none;
  padding: 5px;
}
.secret__main button {
  color: #fff;
  padding: 5px;
  background-color: #6f737f;
  border: none;
  cursor: pointer;
}
.secret__main button:hover {
  background-color: #898d98;
}

.boost__item {
  background-color: #6f737f;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boost__item:hover {
  cursor: pointer;
  background-color: #575a64;
}
.boost__item._activated {
  opacity: 0.2;
}
.boost__item-info .title {
  font-weight: 500;
  font-size: 20px;
}
.boost__item-info .subtitle {
  font-size: 14px;
  opacity: 0.7;
}

.earn__item {
  background-color: #6f737f;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.earn__item._done {
  opacity: 0.3;
}
.earn__item-info .title {
  font-weight: 500;
  font-size: 20px;
}
.earn__item-info .subtitle {
  font-size: 14px;
  opacity: 0.7;
  display: inline-block;
}
.earn__item-info .progress {
  font-size: 12px;
  display: inline-block;
}
.earn__item-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.earn__item-image img {
  margin: 0 auto;
}
.earn__item-image p {
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 380px) {
  .app {
    padding: 0;
  }
  .secret {
    height: 100vh;
  }
  .secret__main input {
    width: 200px;
  }
}
@media screen and (max-height: 638px) {
  * {
    overflow-y: hidden;
  }
}/*# sourceMappingURL=main.css.map */